body {
    background: #fafafa;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
      }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(9, 12, 240);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(8, 8, 8);
  }
  
  .topnav a.active {
    background-color: rgb(28, 238, 46);
    color: white;
  }

  

  #main {
  transition: margin-left .5s;
  padding: 16px;
  }

  ul {
  margin: 0;
  }
  span.sticky{
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: #fafafa;
      padding-top: 15px;
      padding-bottom: 5px;
      font-size: 20px;
  }
  .content-section {
    background: #fafafa;
    padding: 10px 20px;
    border: 1px solid #111;
    border-radius: 3px;
    margin-bottom: 20px;
  }